@font-face {
  font-family: "BHTFont";
  src: url('./_resources/BHTFont/BHT\ CaseText-Regular.otf');
}

:root{
  --anthrazite: #555555;
  --yellow: #ffc900;
  --red: #ea3b07;
  --petrol: #00a0aa;
  --blue: #004282;
}

.App {
  text-align: center;
  font-family: BHTFont;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}