@font-face {
  font-family: "BHTFont";
  src: url('./_resources/BHTFont/BHT\ CaseText-Regular.otf');
}

@font-face {
  font-family: "BHTTitle";
  src: url('./_resources/BHTFont/BHT\ CaseText-Bold.otf');
}

:root{
  --anthrazite: #555555;
  --yellow: #ffc900;
  --red: #ea3b07;
  --petrol: #00a0aa;
  --blue: #004282;
}

.App {
  font-family: BHTFont;
}

h1, h2, h3 {
  font-family: BHTTitle;
}

.topMenu {
  padding: 5px;
  font-family: BHTTitle;
}