@font-face {
  font-family: "BHTFont";
  src: url('./_resources/BHTFont/BHT\ CaseText-Regular.otf');
}

@font-face {
  font-family: "BHTTitle";
  src: url('./_resources/BHTFont/BHT\ CaseText-Bold.otf');
}

:root{
  --anthrazite: #555555;
  --yellow: #ffc900;
  --red: #ea3b07;
  --petrol: #00a0aa;
  --blue: #004282;
}

.App {
  font-family: BHTFont;
}

h1, h2, h3 {
  font-family: BHTTitle;
}

.topMenu {
  padding: 5px;
  font-family: BHTTitle;
}

.formPage{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
  padding-left: 100px;
  padding-top: 2%;
}
.formPage img {
  width: auto;
  max-height: 80%;
  max-width: 50%;
}


.fGrid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: space-evenly;
  align-content: center;
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-radius: 30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  max-width: 50%;
}

.card{
  flex-direction: column;
  background-color: #555555;
  border-radius: 20px;
  text-align: center;
}

.cardButton{
  width: 250px;
  height: 40px;
  background-color: #004282;
  color: #ffffff;
  border-radius: 20px;
  border: none;
}

.cardImg {
  width: 80%;
  height: 10vh;
  object-fit: cover;
}

.fLanding{
  margin-left: 80px;
}