# OpenSSL Konfigurationsdatei für die Erstellung eines selbstsignierten Zertifikats

[req]
# Definiert, dass die distinguished_name und req_extensions Abschnitte verwendet werden sollen
distinguished_name = dn
req_extensions = req_ext
# Deaktiviert die interaktiven Eingabeaufforderungen
prompt = no

[dn]
# Definition der Distinguished Name (DN) Felder
C = DE                           # Country Name (2 letter code)
ST = Berlin                      # State or Province Name (full name)
L = Berlin                       # Locality Name (eg, city)
O = PICA                         # Organization Name (eg, company)
OU =                             # Organizational Unit Name (eg, section) - leer gelassen
CN = localhost                   # Common Name (eg, server FQDN or YOUR name) - für Entwicklung localhost verwenden

[req_ext]
# Erweiterungen, die bei der Erstellung der Zertifikatserstellungsanforderung (CSR) verwendet werden
subjectAltName = @alt_names

[alt_names]
# Alternativnamen für das Zertifikat (können mehrere sein)
DNS.1 = localhost                # Für Entwicklung localhost verwenden
# DNS.2 = your.production.domain  # Für Produktion die Domain hinzufügen

[v3_ext]
# Zusätzliche Erweiterungen für das Zertifikat
authorityKeyIdentifier = keyid,issuer
basicConstraints = CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names      # Wiederverwendung der subjectAltName Erweiterung
